trigger:
  branches:
    include:
      - main

variables:
  azureSubscription: 'Azure subscription 1'
  acrName: 'acrmicroapp.azurecr.io'
  aksResourceGroup: 'rg-microapp'
  aksClusterName: 'aks-microapp'
  imageTag: '$(Build.BuildId)'

pool:
  vmImage: 'ubuntu-latest'

stages:

# ============================
#   BUILD & PUSH IMAGES
# ============================
- stage: Build
  displayName: "Build & Push Docker Images"
  jobs:
    - job: BuildPush
      displayName: "Build & Push"
      steps:

        - checkout: self

        # Login to Azure
        - task: AzureCLI@2
          inputs:
            azureSubscription: $(azureSubscription)
            scriptType: bash
            scriptLocation: inlineScript
            inlineScript: |
              echo "Logging into ACR..."
              az acr login --name acrmicroapp

        # Build & Push USER SERVICE
        - script: |
            echo "Building user-service..."
            docker build -t $(acrName)/user-service:$(imageTag) microservices/user-service/
            docker push $(acrName)/user-service:$(imageTag)
          displayName: "Build & Push user-service"

        # Build & Push ORDER SERVICE
        - script: |
            echo "Building order-service..."
            docker build -t $(acrName)/order-service:$(imageTag) microservices/order-service/
            docker push $(acrName)/order-service:$(imageTag)
          displayName: "Build & Push order-service"


# ============================
#   DEPLOY TO AKS
# ============================
- stage: Deploy
  displayName: "Deploy to AKS"
  dependsOn: Build
  jobs:
    - job: DeployToAKS
      displayName: "Apply Kubernetes Manifests"
      steps:

        - checkout: self

        # Login to Azure & get AKS credentials
        - task: AzureCLI@2
          inputs:
            azureSubscription: $(azureSubscription)
            scriptType: bash
            scriptLocation: inlineScript
            inlineScript: |
              echo "Getting AKS credentials..."
              az aks get-credentials \
                --resource-group $(aksResourceGroup) \
                --name $(aksClusterName) --overwrite-existing

              echo "Updating images in k8s manifests..."
              sed -i "s|IMAGE_TAG|$(imageTag)|g" k8s-manifests/*

              echo "Applying Kubernetes manifests..."
              kubectl apply -f k8s-manifests/

          displayName: "Deploy to AKS"
